* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto Mono", monospace;
  background: #222;
  color: #b6b6b6;
  text-align: center;
}

h1 {
  font-size: 4.5rem;
  font-weight: 200;
  margin-bottom: 0.1em;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 1em;
  display: inline-block;
}

.modal {
  background-color: #646464;
  color: white;
  max-width: 600px;
  margin: 0 auto;
  padding: 3em;
  height: 50vh;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.modal > h2 {
  font-size: 3rem;
}

.modal > h2 > #pacman-title {
  color: #cfcf2e;
}

.modal > #start-button-container > #start-game {
  display: inline-block;
  border: none;
  padding: 0.5em 1em;
  background: #cfcf2e;
  color: #222;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 1px;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s;
  outline: none;
}

.modal > #start-button-container > #start-game:hover,
.modal > #start-button-container > #start-game:focus {
  color: #cfcf2e;
  background: #222;
}

.high-score-h3 {
  margin-left: 1.5em;
}

#score {
  font-weight: 200;
}

#high-score {
  font-weight: 200;
}

.grid {
  margin: 0 auto;
  width: 420px;
  height: 420px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.grid > div {
  height: 15px;
  width: 15px;
}

.pacdot {
  background: #469746;
  border: 4px solid #222;
  box-sizing: border-box;
}

.wall {
  background: #3d6668;
}

.power-pellet {
  background: crimson;
  border: 2px solid #222;
  border-radius: 50%;
  box-sizing: border-box;
}

.ghost-lair {
  background: rgba(211, 33, 128, 0.3);
}

.pacman {
  background: #cfcf2e;
  border: 1px solid #222;
  border-radius: 50%;
  box-sizing: border-box;
}

#game-result-text {
  display: none;
  position: absolute;
  background: rgba(34, 34, 34, 0.7);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  text-align: center;
  padding: 3.5em;
}

.ghost {
  border: 0.5px solid #222;
  box-sizing: border-box;
  border-radius: 0%;
}

.blinky {
  background: #b64848;
}

.pinky {
  background: #cf70a0;
}

.inky {
  background: #75ceb0;
}

.clyde {
  background: #cc8f45;
}

.scared-ghost {
  background: #8154aa;
}

#game-over {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: salmon;
  font-weight: 400;
}

#game-won {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: yellowgreen;
  font-weight: 400;
}
